@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --primary-color: #009296;
  --secondary-color: #fff;
  --light-grey-color: #f3f1ea;
  --border-color: #b2dcde;
  --yellow-color: #ffcf27;
  --hero-bg-color: #eef4f6;
  --sub-heading: 50px;
}
*,
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.primary-text {
  color: var(--primary-color);
}

.primary-btn {
  background-color: var(--primary-color);
  height: 62px;
  border: 0;
  border-radius: 40px;
  padding: 10px 30px;
}

.fs-14 {
    font-size: 14px;
}

.fs-50 {
    font-size: 50px;
}

/* Marquee section css */
.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 33px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  position: relative;
  overflow: hidden;
  padding: 0 50px;
}

/* Marquee section css ends */

/* Cleansing Bar section css */
.col-bg-img {
  background-color: var(--hero-bg-color);
  height: 432px;
  width: 100%;
  border-radius: 270px 15px 0 270px;
}

.pricing-table-view {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.gap-58 {
  gap: 94px;
}

/* Cleansing Bar section css ends */
