@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --primary-color: #009296;
  --secondary-color: #fff;
  --light-grey-color: #f3f1ea;
  --border-color: #b2dcde;
  --yellow-color: #ffcf27;
  --hero-bg-color: #eef4f6;
  --sub-heading: 50px;
  --fs-14: 14px;
}
*,
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.primary-text {
  color: var(--primary-color);
}

.primary-btn {
  background-color: var(--primary-color);
  height: 62px;
  border: 0;
  border-radius: 40px;
  padding: 10px 30px;
}

.fs-50 {
  font-size: 50px;
}

/* Marquee section css */
.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 200px;
  overflow-x: hidden;
}

.content {
  font-size: 48px;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 20s linear infinite;
  gap: 60px;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Marquee section css ends */

/* Cleansing Bar section css */
.cleansing-bar .hero-bg {
  height: 550px;
}

.pricing-table-view {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.gap-58 {
  gap: 94px;
}

/* Cleansing Bar section css ends */

.primary-bg {
  background: var(--primary-color) !important;
}

.primary-text {
  color: var(--primary-color) !important;
}

.fs-14 {
  font-size: var(--fs-14);
}

.primary-outline-btn {
  border-color: var(--primary-color) !important;
  padding: 10px 35px;
}

.primary-btn {
  padding: 18px 35px;
}

.sub-heading {
  font-size: var(--sub-heading);
}

.hero-bg {
  background: var(--hero-bg-color);
  border-top-left-radius: 50rem;
  border-bottom-left-radius: 50rem;
}

.animate-text::before {
  content: "face";
  animation: anime 6s linear 0s infinite forwards;
  font-weight: 200;
  font-size: var(--sub-heading);
}

@keyframes anime {
  0% {
    content: "face";
    opacity: 1;
  }
  12.5% {
    opacity: 0;
  }
  25% {
    content: "body";
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  50% {
    content: "shave";
    opacity: 1;
  }
  62.5% {
    opacity: 0;
  }
  75% {
    content: "hair";
    opacity: 1;
  }
  87.5% {
    opacity: 0;
  }
}

/* Media Queries */
@media only screen and (max-width: 1400px) {
  .sub-heading {
    font-size: 46px;
  }
}

@media only screen and (max-width: 1200px) {
  .sub-heading {
    font-size: 38px;
  }
}

@media only screen and (max-width: 992px) {
  .hero-bg {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  nav {
    background: var(--hero-bg-color);
  }
  .custom-text-center {
    text-align: center;
  }

  .custom-w-100 {
    width: 100%;
  }

  .sub-heading {
    font-size: 24px;
  }
}
