@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --primary-color: #009296;
  --secondary-color: #fff;
  --light-grey-color: #f3f1ea;
  --border-color: #b2dcde;
  --yellow-color: #ffcf27;
  --hero-bg-color: #eef4f6;
  --soap-section-bg-color: #eaf2f4;
  --light-bg: #f5f8fa;
  --red-text: #de3032;
  --sub-heading: 50px;
  --sub-heading2: 34px;
  --fs-14: 14px;
  --fs-12: 12px;
  --grey-color: #e0e0e0;
  --yellow-color: #ffcf27;
}
*,
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

/* css added by deep */
.primary-bg {
  background-color: var(--primary-color);
}
.frame {
  background-size: contain;
}
.py-28 {
  padding: 7rem 0;
}
.subheading3 {
  font-size: 24px;
}
.fs-14 {
  font-size: 14px;
}
.bg-lightblue {
  background-color: #eef4f6;
}
.two-soap-section {
  height: 580px;
}
.two-pack-soap {
  background-color: var(--soap-section-bg-color);
  height: 400px;
}
.two-soap-pic {
  right: 0;
  bottom: -160px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mw-800 {
  max-width: 800px;
}
.mw-1600 {
  max-width: 1600px;
}
.warning-bg {
  background-color: var(--yellow-color);
}
@media only screen and (max-width: 1200px) {
 
}

@media only screen and (max-width: 992px) {
  .subheading3 {
    font-size: 18px;
  }
  .fs-14 {
    font-size: 12px !important;
  }
  .fs-14-custom {
    font-size: 14px;
  }

}
@media only screen and (max-width: 576px) {
 
}
/* deep css end */
.primary-text {
  color: var(--primary-color);
}

.red-text {
  color: var(--red-text);
}

.fs-50 {
  font-size: 50px;
}

/* Marquee section css */
.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 200px;
  overflow-x: hidden;
}

.content {
  font-size: 48px;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 20s linear infinite;
  gap: 60px;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Marquee section css ends */

/* Cleansing Bar section css */
.cleansing-bar .hero-bg {
  height: 550px;
}

.border-y {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.border-btm {
  border-bottom: 1px solid var(--border-color);
}

.gap-58 {
  gap: 60px;
}

/* Cleansing Bar section css ends */

.primary-bg {
  background: var(--primary-color) !important;
}

.primary-text {
  color: var(--primary-color) !important;
}

.fs-14 {
  font-size: var(--fs-14);
}

.fs-12 {
  font-size: var(--fs-12);
}

.primary-outline-btn {
  border-color: var(--primary-color) !important;
  padding: 10px 35px;
}

.primary-btn {
  padding: 18px 35px;
}

.sub-heading {
  font-size: var(--sub-heading);
}

.hero-bg {
  background: var(--hero-bg-color);
  border-top-left-radius: 50rem;
  border-bottom-left-radius: 50rem;
}

.animate-text::before {
  content: "face";
  animation: anime 8s linear 0s infinite forwards;
  font-weight: 200;
  font-size: var(--sub-heading);
}

@keyframes anime {
  0% {
    content: "face";
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  20% {
    content: "body";
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    content: "shave";
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    content: "hair";
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  80% {
    content: "hands";
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}

.table > tr,
th,
td {
  background: transparent !important;
  color: var(--secondary-color) !important;
}

.table td {
  padding: 44px 0 !important;
}

.table .th-logo {
  width: 9vw;
}

.w-fit {
  width: fit-content;
}

.sub-heading2 {
  font-size: var(--sub-heading2);
}

.grey-color {
  background: var(--grey-color);
}

.soap-uses {
  width: 210px;
  height: 210px;
}

.footer-input::placeholder {
  color: var(--primary-color);
}

.footer-heading {
  font-size: var(--sub-heading2);
}

/* Media Queries */
@media only screen and (max-width: 1400px) {
  .sub-heading {
    font-size: 46px;
  }
}

@media only screen and (max-width: 1200px) {
  .sub-heading {
    font-size: 38px;
  }

  .table .th-logo {
    width: 11vw;
  }

  .sub-heading2 {
    font-size: 20px;
  }
  .subheading3 {
    font-size: 20px;
  }
  .two-soap-section {
    height: 430px;
  }
  .two-pack-soap {
    height: 350px;
  }
}

@media only screen and (max-width: 992px) {
  .hero-bg {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  nav {
    background: var(--hero-bg-color);
  }
  .custom-text-center {
    text-align: center;
  }

  .custom-w-100 {
    width: 100%;
  }

  .sub-heading {
    font-size: 24px;
  }

  .sub-heading2 {
    font-size: 18px;
  }
  .subheading3 {
    font-size: 18px;
  }
  .fs-14 {
    font-size: 12px;
  }
  .fs-14-custom {
    font-size: 14px;
  }

  .two-soap-pic {
    bottom: -70px;
  }
  .two-pack-soap {
    height: 300px;

  .footer-heading{
    font-size: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .table td {
    padding: 34px 0 !important;
  }

  .table h4 {
    font-size: 20px !important;
  }
  .w-50 {
    width: 100% !important;
  }
}

@media only screen and (max-width: 576px) {
  .table .th-logo {
    width: 80px;
  }

  .recipe-section {
    text-align: center;
  }

  .recipe-section > div {
    padding-inline: 34px;
  }

  .recipe-section > div:first-child {
    padding-inline: 0px;
  }

  .soap-uses {
    width: 140px;
    height: 140px;
  }
  .two-soap-section {
    height: 330px;
  }
  .two-pack-soap {
    height: 250px;
  }
}

/* Reviews section */
.light-bg {
  background-color: var(--light-bg);
}
/* Reviews section ends*/

/* Cart sidebar */
#cart-view {
  width: 590px;
}

.btn-close {
  background-image: none;
}

.w-45 {
  width: 45px;
}
.w-fit {
  width: fit-content;
}
/* Cart sidebar */
